# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.log

# Django
*.pot
*.pyc
*.db
*.sqlite3
media/
staticfiles/

# Environment
.env
venv/
.env.*

# Node / Tailwind
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
